
* {
    box-sizing: border-box;
}

body {
    background-color: #d81515;
    padding: 30px;
    font-family: Arial;
    margin: auto;
}

/* Center website */
.main {
    max-width: 100%;
    margin: auto;
}

h4,p {
    font-family: 'Merienda', cursive;
    font-size: 30px;
    word-break: break-all;
    color:lightcoral;
    align-content: center;
    
}
h2{ 
    font-size: 50px;
    align-items: center;
    text-shadow: darkorange;
    font-family: 'Merienda', cursive;
    color:brown;
}


.row {
    margin: 8px -16px;
    border:yellow;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.3%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}
#div1{
    height:30%;
}
/* Content */
.content {
    
    padding: 50px;
    text-align: center;
   border-color:darkgoldenrod;
    border: inset;
    width:auto;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}
#badd,#badd1,#badd2,#badd3,#badd4,#badd5,#badd6,#badd7,#badd8,#badd9,#search{
    padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: black;
  background-color:darkcyan;
  border-radius: 15px;
  box-shadow: 0 9px darkred,1px 3px 5px yellow,1px 1px 2px yellow;
  font-family:'Merienda', cursive;
}
#lab1,#lab2{
    color:yellow;
    border:inset;
    width:80%;
    
}
#lab3{
    color:yellow;
    width:80%;
    
}
#slider{
    color:darkgoldenrod;
    height: 25px;
    width: 60%;
    padding-left: 5px;
    
    border:dotted;
    line-height: 50px;
}
#txtMin,#txtMax,#slider,#lab1,#lab2,#lab3{
    font-family:'Merienda', cursive;
}
h2{
    background: repeating-linear-gradient(
  45deg,
  rgb(192, 148, 218),
  rgb(204, 185, 149) 10px,
  lightcoral 10px,
  #969cc0 20px)
}